@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />
<h4>@ViewBag.Message</h4>
<div class="row">
    <div class="col-md-8">
        <p>
            Managify is a simple <b>Event Management System</b> used to create & manage events with the information put forth by
            the <em>Admin</em>. With the help of Managify, now you can define the Event Title, Description, Date &amp; Time, Venue,
            Fees, etc. Along with this clients who wish to register for an event can do so &amp; manage their history of registrations
            of different events.
        </p>
        <br />
        <h5>Updates pending for the new version.</h5>
        <p>
            We wish to extend this event manager, and include the photos of the events along with above described description of events.
        </p>
    </div>
</div>
